.terminator-form .row {
  overflow: auto;
}

.terminator-form .col {
  float: left;
}

.terminator-form .half-width {
  box-sizing: border-box;
  padding: 20px;
  width: 50%;
}

.terminator-form table .form-text {
  display: none;
}

.terminator-form td {
  padding: 10px;
}

.terminator-form .terminator-draggable {
  background: #fff;
  border: 1px solid #bebfb9;
  margin: 2px 0;
  padding: 3px 8px;
}

.terminator-form .ui-draggable-dragging {
  z-index: 1;
}
